.buttons {
	display: flex;
	flex-direction: column;
}
.data {
	display: flex;
	flex-direction: column;
}
.counter {
	margin: 0.5px;
	height: 30px;

	display: grid;
	grid-template-columns: auto 30px;
	grid-template-rows: 50% 50%;

	text-align: center;
	font-family: 'Times New Roman', Times, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.counter-count {
	line-height: 30px;
	height: 100%;

	grid-column: 2;
	grid-row: 1/2;
}
.counter-name {
	line-height: 100%;
	display: flex;

	width: 100%;
	align-items: center;
	justify-content: center;
}
.counter-claim {
	line-height: 100%;
	opacity: 0.6;
	display: flex;

	width: 100%;
	align-items: center;
	justify-content: center;
}
:root {
	--font-weight: 500;
	--font-color: black;

	--town: #45BF00;
	--town-color: black;

	--mafia: #DD0000;
	--mafia-color: black;
}

.btn-group-vertical {
	border-radius: 5px;
	overflow: hidden;
	/* border: 1px solid black; */
}
.btn-custom {
	color: var(--font-color);
	font-weight: var(--font-weight);

	padding: 0px 6px 0px 6px;
}

.btn {
	width: 100%;
	border: 0px;
}
.btn:active {
	filter: brightness(80%);
}
.btn:hover {
	filter: brightness(90%);
}
/* .btn:focus {
	filter: brightness(110%);
} */